name: app_ecclesia
description: "App Ecclesia."

publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  cupertino_icons: ^1.0.8
  firebase_core: ^4.0.0
  http: ^1.5.0
  provider: ^6.1.5+1
  go_router: ^16.2.0
  cloud_firestore: ^6.0.0
  firebase_storage: ^13.0.1
  image_picker: ^0.8.7
  firebase_auth: ^6.0.2
  intl: ^0.20.2
  flutter_animate: ^4.5.0
  smooth_page_indicator: ^1.1.0
  cloud_functions: ^6.0.2
  firebase_app_check: ^0.4.1+1
  flutter_image_compress: ^2.3.0
  firebase_messaging: ^16.0.4
  flutter_launcher_icons: ^0.14.4
  fl_chart: ^1.1.1
  pdf: ^3.11.3
  path_provider: ^2.1.5
  open_file: ^3.5.10
  internet_connection_checker_plus: ^2.9.1
  printing: ^5.14.2
  font_awesome_flutter: ^10.12.0


dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0


flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
flutter_launcher_icons:
  android: true
  image_path: "icons/icon_ecclesia.png"